<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse"
            data-target="#exCollapsingNavbar">&#9776;</button>
    <h1 class="brand">Avalauncher</h1>

    <div class="collapse navbar-toggleable-sm " id="exCollapsingNavbar">

        <ul class="nav-menu bg-faded" >
            <li class="nav-menu-item"><a class="nav-link" [router-link]="['/Areas']">Schigebiete</a></li>
            <li class="nav-menu-item"><a class="nav-link" [router-link]="['/Report']">Lawinenlagebericht</a></li>
        </ul>

    </div>
</nav>

<main class="container">
    <router-outlet></router-outlet>
</main>

<footer class="text-xs-center">
    <p><span class="glyphicon glyphicon-education"></span> Brought to you by <em>Team DWD-R</em></p>
</footer>

