<div class="report-component">
    <h2 class="text-xs-center">Aktuelle Lage vom {{ reportDate |date : 'dd' }}.{{ reportDate |date : 'MM' }}.
        {{reportDate |date : 'yyyy' }} &nbsp;{{ reportDate |date : 'HH:mm' }}</h2>
    <section class="alert alert-warning">


        <div class="report-info clearfix">
            <div class="risk-icon clearfix">
                <img class="" [src]="getAvalancheRiskIcon(report.risk)" alt="Warnstufenicon">
            </div>

            <div class="report-info-detail">
                <p class=""><strong>{{ report.summary }}</strong></p>
                <p>
                    {{report.info}} <br>
                    Autor:&nbsp;{{report.author.replace(' ', '&nbsp;')}}&nbsp;-&nbsp;<a href="https://lawine.tirol.gv.at" target="_blank">Lawinenwarndienst&nbsp;Tirol</a>
                </p>
            </div>
        </div>
    </section>


    <section>
        <header>Beurteilung der Lawinengefahr</header>
        {{ report.assessment }}
    </section>

    <section>
        <header>Schneedeckenaufbau</header>
        {{ report.snowStructure }}
    </section>

    <section>
        <header>Alpinwetterbericht der ZAMG-Wetterdienststelle Innsbruck</header>
        {{ report.forecast }}
    </section>
</div>
