@import "components/report-component.css";

.heroes {
    list-style: none;
    margin-left:1em;
    padding: 0;
    width: 10em;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left:0;
    transition: all 0.2s ease;
}

.heroes li:hover {
    color: #369;
    background-color: #EEE;
    left: .2em;
}

.heroes .badge {
    font-size: small;
    color: white;
    padding:0.1em 0.7em;
    background-color: #369;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -1px;
}
.selected {
    background-color: #EEE;
    color: #369;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid {
    border-left: 5px solid #a94442;
}

.area-list {
    margin-top: 2em;
}

.avalanche-risk-icon {
max-width: 6em;
    margin: 0 auto;
}

.avalanche-risk-icon img {
    height: 6em;
    margin:  1em 0 0 0;
}


.card {
    max-width: 380px;
    margin: 1em auto;
}
.card table {
    font-size: 0.8em;
}



.startup-outer {
    position: relative;
    background: #444;
    color: whitesmoke;
    text-align: center;

}

.startup-outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.startup-inner {
    display: inline-block;
    width: 75%;
    padding: 2em;
    vertical-align: middle;
}

.startup-inner img {
    max-width: 100%;

}

.navbar-brand {
    font-family: 'Nothing You Could Do', cursive;
}

body footer {
    margin-top: 2em;
}