<nav class="navbar navbar-light bg-faded">
    <h1 class="navbar-brand" href="#"> Avalauncher</h1>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" [router-link]="['/Home']">Home</a></li>
            <li class="nav-item"><a class="nav-link" [router-link]="['/Report']">Lawinenlagebericht</a></li>
            <li class="nav-item"><a class="nav-link" [router-link]="['/Areas']">Schigebiete</a></li>
        </ul>
    </div>

</nav>

<main class="container">
    <router-outlet></router-outlet>
</main>

<footer class="text-xs-center">
<p><span class="glyphicon glyphicon-education"></span> Brought to you by <em>Team DWD-R</em></p>
</footer>

