@import "components/report-component.css";

.heroes {
    list-style: none;
    margin-left:1em;
    padding: 0;
    width: 10em;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left:0;
    transition: all 0.2s ease;
}

.heroes li:hover {
    color: #369;
    background-color: #EEE;
    left: .2em;
}

.heroes .badge {
    font-size: small;
    color: white;
    padding:0.1em 0.7em;
    background-color: #369;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -1px;
}
.selected {
    background-color: #EEE;
    color: #369;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid {
    border-left: 5px solid #a94442;
}

.ski-area {
    padding-bottom: 1em;
    border-bottom: 1px solid darkgrey;
}

.media-object {
    width: 64px;
    margin-bottom: 1em;
}

.media-object.hotel-image {
    width: 200px;
}

@media screen and (max-width: 550px) {
    .media-left {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .media-left img {
        width: 80%;
    }
}

.startup-outer {
    position: relative;
    background: #444;
    color: whitesmoke;
    text-align: center;

}

.startup-outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.startup-inner {
    display: inline-block;
    width: 75%;
    padding: 2em;
    vertical-align: middle;
}

.startup-inner img {
    max-width: 100%;

}